.laboratoria, .transformacion{
	background-color: #FEFE00;
	border-bottom: 1px solid black;
	display: inline-block;
}
.laboratoria{
	margin-bottom: 15px;
}
.es{
	background-color: #ED2251;
	border-bottom: 1px solid black;
	margin-bottom: 15px;
	display: inline-block;
}
