body{
	margin: 0;
}
p{
	margin: 0;
	padding: 5px;
}
.laboratoria, .transformacion{
	height: 45px;
	width: 15%;
	background-color: #FEFE00;
	border-bottom: 1px solid black;
	display: inline-block;
}
.laboratoria{
	margin-bottom: 15px;
}
.es{
	height: 45px;
	width: 15%;
	background-color: #ED2251;
	border-bottom: 1px solid black;
	margin-bottom: 15px;
	display: inline-block;